{% extends "web/base.html" %}
{% load static %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/modificar.css' %}">
{% endblock estilos %}

{% block contenido %}

<div id="contenido">
    
      <div id="section">

        
          <h1 id="titulo">Actualizar insumos</h1>
         <h1 id="subtitulo">Usted debe modificar el siguiente formulario para actualizar los insumos</h1>
         <script>
          function admin() {
            location.href="/admin_insumos/";
          } 


         </script>
        <div class="registro"> 
          <form action="{% url 'MODIIN' %}" method="POST">
          {% csrf_token %}
          <h1>Formulario de insumos</h1>
          <input class="controls" type="text" value="{{insumo.nombre}}"name="nombreinsumo" id="txtnombreinsumo" placeholder=" Ingrese el nombre del insumo" required minlength="3" maxlength="120">
          <input class="controls" type="number" value="{{insumo.precio}}" name="precio" id="txtprecio" placeholder="Ingrese el precio del insumo" required min="1">
          <textarea class="controlsdes" name="descripcion" id="txtdes" rows="10" cols="40" placeholder="Ingrese una descripcion del insumo" minlength="3" maxlength="200">{{insumo.descripcion}}</textarea>
          <input class="controls" type="number" value="{{insumo.stock}}" name="stock" id="txtstock" placeholder="Ingrese el stock del insumo" required min="0">
          <input class="botons" type="submit" value="Actualizar insumo">
          <input class="botons" type="button" value="Administrar" onclick="admin()">
          </form>
        </div>
        <div> <h1>{{msg}}</h1> </div>
      </div>
    
    </div>

{% endblock contenido %}
     
  


    



