    {% extends "web/base.html" %}
    {% load static %}
    {% block estilos %}
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    {% endblock estilos %}
    

    {% block contenido %}

    <div id="contenido">
    
      <div id="section">

        
          <h1 id="titulo">Registro de usuarios</h1>
         <h1 id="subtitulo">Usted debe completar el siguiente formulario para registrarse como usuario</h1>
        
        
        <div class="registro"> 
             <h1>Formulario de Registro</h1>
             <script src="{% static 'js/funciones.js' %}"></script>
             
          <form action="" method="POST">
          {% csrf_token %}
          <input class="controls" type="text" name="nombre" id="txtnombre" placeholder="Ingrese el nombre" required minlength="3" maxlength="80">
          <input class="controls" type="text" name="apellido" id="txtapellido" placeholder="Ingrese el apellido" required minlength="3" maxlength="80">
          <input class="controls" type="email" name="correo" id="txtemail" placeholder="Ingrese el email" required>
          <input class="controls" type="text" name="nomusuario" id="txtnomusuario" placeholder="ingrese el nombre de usuario" required>
          <input class="controls" type="password" name="contrasena" id="pass1" placeholder="Ingrese una contraseña" required>
          <input class="controls" type="password" name="contrasena2" id="pass2" placeholder="Repita la contraseña" required>
          <div> <h1>{{msg}}</h1> </div>
          <input class="botons" type="submit" value="Registrar">
          </form>

        </div>

      </div>
    
    </div>


    
    {% endblock contenido %}

    


    

