*{
    margin: 0%; /* reseteo el margen */
    padding: 0%;
}


/*TAMAÑO PC*/
@media screen and (min-width:1300px){

#contenedor{

    width: 1300px; /* Ancho*/
    height: 1300px; /* alto*/
    background-color: yellow; /* Color de fondo*/
    margin: auto; /* Se genera un margen de manera automatica al centro*/
    
}

/*HEADER ENCABEZADO*/

#header{
    height: 9%;
    background-color: green;
    border: solid black;

}

#logo{
    width: 150px; 
    height: 100px;
    padding: 10px;
    float: left ;
    margin-left: 35px;
    
}

#encabezado{
 color: white;   /*color de la letra*/
 font-family: Arial, Helvetica, sans-serif; /*tipo de letra*/
 font-size: 30px;  /*tamaño del texto*/
 font-style:oblique ;  /*estiilo de letra*/


 margin: 20px; /* matgen*/
 text-indent: 70px; /* muevo el texto a la derecha*/
 

 
}
/*NAV NAVEGADOR*/

#nav{
    height: 6%; /*alto*/
    background-color: white;
    border: solid black;
    overflow: auto;

}

#nav li{
    margin-top: 20px;
    margin-left: 8px;
    float: left;
    display: block;
    padding: 3px;
    
}

#nav li a{
    color: black;
    text-decoration: none;
    font-size: 25px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
#nav li :hover{
    text-transform: uppercase;
}

/*CUERPO TODO LOS CONETENIDOS*/

#contenido{

    width: auto; /* Ancho*/
    height: 1000px; /* alto*/
    background-color:yellow; /* Color de fondo*/
    margin-top:0px;
    border: solid black;

}

#section{
    width: 98%; /* Ancho*/
    height: 98%; /* alto*/
    background-color:yellow; /* Color de fondo*/
    margin-top:5px;
    margin-left: 10px;
    border: solid white;

}
#titulo {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: green;
    
}
#subtitulo{
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}

.registro{
    width: 400px;
    height: 550px;
    background: green;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.registro h1 {
   font-size: 20x;
   margin-bottom: 50px;
   margin-left: 25px;
   margin-top: 15px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;

}
.controls{
    width: 300px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    
}
.registro .controlsdes{
    height: 70px;
    width: 320px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-size: 17px;
}

.registro .botons{
    width: 80%;
    margin: 10px;
    margin-left: 40px;
    margin-bottom: 15px;
    background: white;
    border: solid black;
    padding: 12px;
    color: black;
    font-size: 16px;
    
}

/*FOOTER*/

#footer {
    height: 7%; /*alto*/
    background-color:green;
    border: solid black;
    overflow: auto;
}

#footer h1{
    margin: 5px;
    text-indent: 160px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

}

/*Tamaño Celular*/
@media screen and (max-width:480px){

    #contenedor{

        width: 100%; /* Ancho*/
        height: 840px; /* alto*/
        background-color: yellow; /* Color de fondo*/
     
        
    }

    /*HEADER ENCABEZADO*/

#header{
    height: 10%;
    width: auto;
    background-color: green;
    border: solid black;

}

#logo{
    width: 60px; 
    height: 60px;
    padding: 10px;
    float: left ;
    margin-left: 5px;
    
}

#encabezado{
 color: white;   /*color de la letra*/
 font-family: Arial, Helvetica, sans-serif; /*tipo de letra*/
 font-size: 13px;  /*tamaño del texto*/
 font-style:oblique ;  /*estiilo de letra*/


 margin: 25px; /* matgen*/
 text-indent: 15px; /* muevo el texto a la derecha*/
 

 
}
/*NAV NAVEGADOR*/

#nav{
    height: 13%; /*alto*/
    background-color: white;
    border: solid black;
    overflow: auto;

}

#nav li{
    margin: 4px;
    float: left;
    display: block;
    padding: 10px;
    
}

#nav li a{
    color: black;
    text-decoration: none;
    font-size: 20px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
#nav li :hover{
    text-transform: uppercase;
}

/*CUERPO TODO LOS CONETENIDOS*/

#contenido{

    width: auto; /* Ancho*/
    height: 720px; /* alto*/
    background-color:yellow; /* Color de fondo*/
    margin-top:0px;
    border: solid black;

}

#section{
    float: left;
    width: 90%; /* Ancho*/
    height: 95%; /* alto*/
    background-color:yellow; /* Color de fondo*/
    margin-top:10px;
    margin-left: 15px;
    border: solid white;
}


#titulo {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: green;
    
}
#subtitulo{
    text-align: center;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: green;
}

.registro{
    width: 200px;
    height: 420px;
    background: green;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.registro h1 {
   font-size: 25px;
   margin-bottom: 20px;
   margin-left: 15px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;

}
.controls{
    width: 170px;
    height: 10px;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    
}

.registro .controlsdes{
    height: 70px;
    width: 190px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.registro p{
    height: 40px;
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: 10px;
 
}

.registro .botons{
    width: 70%;
    height: 40px;
    margin: 10px;
    margin-left: 30px;
    background: white;
    border: solid black;
    padding: 12px;
    color: black;
    font-size: 16px;
    
}

#footer {
    height: 10%; /*alto*/
    background-color:green;
    border: solid black;
    overflow: auto;

}
#footer h1{
    margin: 5px;
    font-size: 17px;
    text-indent: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}


}

/*Tamaño TABLET*/
@media screen and (min-width:480px) and (max-width:780px){

    #contenedor{

        width: 1300px; /* Ancho*/
        height: 1300px; /* alto*/
        background-color: yellow; /* Color de fondo*/
        margin: auto; /* Se genera un margen de manera automatica al centro*/
        
    }
    
    /*HEADER ENCABEZADO*/
    
    #header{
        height: 12%;
        background-color: green;
        border: solid black;
    
    }
    
    #logo{
        width: 150px; 
        height: 100px;
        margin-top: 15px;
        float: left ;
        margin-left: 35px;
        
    }
    
    #encabezado{
     color: white;   /*color de la letra*/
     font-family: Arial, Helvetica, sans-serif; /*tipo de letra*/
     font-size: 45px;  /*tamaño del texto*/
     font-style:oblique ;  /*estiilo de letra*/
    
    
     margin: 30px; /* matgen*/
     text-indent: 70px; /* muevo el texto a la derecha*/
     
    
     
    }
    
    /*NAV NAVEGADOR*/

#nav{
    height: 10%; /*alto*/
    background-color: white;
    border: solid black;
    overflow: auto;

}

#nav li{
    margin-top: 25px;
    float: left;
    display: block;
    padding: 10px;
    
}

#nav li a{
    color: black;
    text-decoration: none;
    font-size: 45px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    
}
#nav li :hover{
    text-transform: uppercase;
}

/*CUERPO TODO LOS CONETENIDOS*/

#contenido{

    width: auto; /* Ancho*/
    height: 1600px; /* alto*/
    background-color:yellow; /* Color de fondo*/
    margin-top:0px;
    border: solid black;

}

#section{
    width: 98%; /* Ancho*/
    height: 98%; /* alto*/
    background-color:yellow; /* Color de fondo*/
    margin-top:5px;
    margin-left: 10px;
    border: solid white;

}
#titulo {
    text-align: center;
    padding-top: 50px;
    font-size: 70px;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: green;
    
}
#subtitulo{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}

.registro{
    width: 900px;
    height: 1100px;
    background: green;
    padding: 30px;
    margin: auto;
    margin-top: 65px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.registro h1 {
   font-size: 65px;
   margin-bottom: 20px;
   margin-left: 80px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;

}
.controls{
    width: 700px;
    background: white;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 40px;
    border: 1px;
    margin-left: 85px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    
}

.registro .controlsdes{
    height: 200px;
    width: 735px;
    margin-left: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 50px;
}

.registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-size: 45px;
}

.registro .botons{
    width: 70%;
    padding: 10px;
    margin-left: 130px;
    margin-top: 70px;
    background: white;
    border: solid black;
    color: black;
    font-size: 50px;
    
}
/*Funcion que muestra el texto en la fecha*/
input[type="date"]:before {
    content: attr(placeholder) !important;
    color: black;
    margin-right: 0.7em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  /*FOOTER*/

#footer {
    height: 15%; /*alto*/
    background-color:green;
    border: solid black;
    overflow: auto;

}
#footer h1{
    margin-top: 30px;
    text-indent: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 40px;
}





}